
@import url(http://fonts.googleapis.com/css?family=Muli);

.btn-primary {
    color: #030d19;
    background-color: #337ab7;
    border-color: #2e6da4
}
body {
  padding-top: 70px;
  padding-bottom: 30px;
}

.theme-dropdown .dropdown-menu {
  position: static;
  display: block;
  margin-bottom: 20px;
}

.theme-showcase > p > .btn {
  margin: 5px 0;
}

.theme-showcase .navbar .container {
  width: auto;
}


input[type=submit], a.button {
    font-weight:bold;
    padding:10px 20px;
    font-size:14px;

}
 .jumbotron {
    text-align: center
   }
